.error {
    color: red;
}

.required_fields {
    font-size: 0.8em;
}

.versiontabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    font-family: sans-serif;
}

.tabs_label {
    padding: 10px 16px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.tabs_radio {
    display: none;
}

.tabs_content {
    order: 1;
    width: 100%;
    border-bottom: 3px solid lightgray;
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
}

.tabs_radio:checked+.tabs_label {
    font-weight: bold;
    color: firebrick;
    border-bottom: 2px solid firebrick;
    
}

.tabs_radio:checked+.tabs_label+.tabs_content {
    display: initial;
}

.changelogs {
    background-color: lightgray;
    padding: 20x;
    width: 400px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgreen;
}

.navbar li {
    float: left;
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

.searchbar {
    background-color: lightgreen;
}