body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 0;
    border: 0;
    background: inherit;
    cursor: pointer;
    outline: none;
}

.error {
    color: red;
}

.required_fields {
    font-size: 0.8em;
}

.keyword {
    display: inline;
    font-size: 0.8em;
    background-color: #E5BEEC;
    padding: 7px 9px;
    border-radius: 10px;

    & > a {
        text-decoration: none;
        color: black;
    }
}

.versiontabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    font-family: sans-serif;
}

.tabs_label {
    padding: 10px 16px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.tabs_radio {
    display: none;
}

.tabs_content {
    order: 1;
    width: 100%;
    border-bottom: 3px solid lightgray;
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
}

/* Audio player css below */
.audio-player {
    position: relative;
    width: 90%;
    max-width: 500px;
    height: 80px;
    background: #fff;
}

#play-icon {
    outline: none;
}

.tabs_radio:checked+.tabs_label {
    font-weight: bold;
    color: #2A2F4F;
    border-bottom: 2px solid #2A2F4F;
}

.tabs_radio:checked+.tabs_label+.tabs_content {
    display: initial;
}

.comment {
    background-color: #FDE2F3;
    display: block;
    padding: 10px 10px;
    width: 85%;
    border-radius: 2px;
}

.comment-user {
    display: inline;
    color: black;
    background-color: #E5BEEC;
    padding: 3px 5px;
    border-radius: 10px;
    margin-right: 7px;
}

.comment-date {
    display: inline;
    text-align: right;
}

.comment-content {
    padding: 25px 2px;
}

.comment-button-container {
    display: flex;
}

.comment-button {
    background-color: #E5BEEC;
    border: 1px solid transparent;
    color: black;
    padding: 3px 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.button {
    background-color: #E5BEEC;
    border: 1px solid transparent;
    color: black;
    padding: 3px 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 7px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

#send-comment-button {
    margin-top: 5px;
}

.comment-button:hover {
    border-color: #917FB3;
    background-color: #e5c2eb;
}

.button:hover {
    border-color: #917FB3;
    background-color: #e5c2eb;
}

.changelogs {
    background-color: #FDE2F3;
    padding: 20x;
    width: 400px;
}



.searchbar {
    background-color: #917FB3;
}

#navbar-search {
    width: 300px;
}