{% extends "layout.html" %}
{% block content %}
<h1>Create playlist</h1>
<ul>
    <form action="/registerplaylist" method="POST">
        {% for track in tracks %}
            <input type="checkbox" name="checked" value="{{track.id}}">
            <label for="{{track.id}}">{{track.name}}</label><br>
        {% endfor %}
        <p>
        Playlist name:
        <input type="text" name="playlistname">
        <p>
        Description:<br>
        <textarea id="description" name="description" rows="5" cols="40"></textarea>
        <p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Create">
    </form>
</ul>
{% endblock %}