{% include "loginbox.html" %}
{% if genretracks %}
    <h1>{{ genretracks[0].genrename }}</h1>
    <ul>
        {% for track in genretracks %}
            {% if not track.private %}
                <li><a href="/track/{{ track.id }}">{{ track.username }} - {{ track.trackname }}</a></li>
                {% if session.admin or session.userid == track.user_id %}
                    <form action="/deletetrack" method="POST">
                        <input type="hidden" name="trackid" value="{{ track.id }}">
                        <input type="hidden" name="genreid" value="{{ track.genre_id}}">
                        <input type="submit" value="Delete track">
                    </form>
                {% endif %}
            {% endif %}
            {% if track.private %}
                {% if session.admin or session.userid == track.user_id %}
                    <li><a href="/track/{{ track.id }}">{{ track.username }} - {{ track.trackname }}</a> (PRIVATE)</li>
                    <form action="/deletetrack" method="POST">
                        <input type="hidden" name="trackid" value="{{ track.id }}">
                        <input type="hidden" name="genreid" value="{{ track.genre_id}}">
                        <input type="submit" value="Delete track">
                    </form>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <h1>No tracks here!</h1>
{% endif %}
<p><a href="/">Back to index</a></p>