{% extends "layout.html" %}
{% block content %}
<h2>Spotlight</h2>
<h3>Brand new quality tracks handpicked by our editors.</h3>
<!-- Carousel here -->
<ul>
    {% for track in spotlight %}
    <li><a href="/track/{{ track.track_id }}">{{ track.name }}</a> by {{ track.username }} 
        {% if session.admin %}
            <form action="/removespotlight" method="POST">
                <input type="hidden" name="strackid" value="{{ track.track_id }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" value="Remove">
            </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<h2>Genres</h2>
<ul>
    {% for genre in genres %}
        {% if session.admin %}
            {% if info[genre.id][0] == 0 and info[genre.id][1] == 0 %}
                <li><a href="/genre/{{ genre.id }}">{{ genre.name }}</a> (Tracks: 0)</li>
            {% else %}
                <li><a href="/genre/{{ genre.id }}">{{ genre.name }}</a> (Public tracks: {{info[genre.id][0]}}, 
                    Private tracks: {{info[genre.id][1]}}, last uploaded {{info[genre.id][3][0].ctime()}})</li>
            {% endif %}
        {% else %}
            {% if info[genre.id][0] == 0%}
                <li><a href="/genre/{{ genre.id }}">{{ genre.name }}</a> (Tracks: 0)</li>
            {% else %}
                <li><a href="/genre/{{ genre.id }}">{{ genre.name }}</a> (Tracks: {{info[genre.id][0]}}, last uploaded {{info[genre.id][2][0].ctime()}})</li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
<h2>Playlists</h2>
<h3>Different tracks for different moods.</h3>
<ul>
    {% for playlist in playlists %}
        <li><a href="playlist/{{ playlist.id }}">{{ playlist.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}