{% extends "layout.html" %}
{% block content %}
<h2>Spotlight</h2>
<h3>Brand new quality tracks handpicked by our editors.</h3>
<!-- Carousel here -->
<ul>
    {% for track in spotlight %}
    <li><a href="/track/{{ track.track_id }}">{{ track.name }}</a> by {{ track.username }} 
        {% if session.admin %}
            <form action="/removespotlight" method="POST">
                <input type="hidden" name="strackid" value="{{ track.track_id }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" value="Remove">
            </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<h2>Browse different genres</h2>
<div class="container text-center">
    <div class="row row-cols-2 row-cols-md-3 g-4">
{% for genre in genres %}
    <div class="col">
    <div class="card bg-dark text-white h-60" style="width: 12em;">
        <img src="/static/{{genre.id}}.jpg" class="card-img" alt="{{ genre.name }}" height="120em">
        <div class="card-img-top">
            <h5 class="card-title" style="background-color: black;">{{genre.name}}</h5>
        </div>
        <div class="card-body">
            {% if session.admin %}
                {% if info[genre.id][0] == 0 and info[genre.id][1] == 0 %}
                    <p class="card-text"><small class="text-muted">Tracks: 0</small></p>
                {% else %}
                    <p class="card-text"><small class="text-muted">Public tracks: {{info[genre.id][0]}}<br> 
                        Private tracks: {{info[genre.id][1]}}<br>Last uploaded: {{info[genre.id][3][0].ctime()}}</small></p>
                {% endif %}
            {% else %}
                {% if info[genre.id][0] == 0%}
                    <p class="card-text"><small class="text-muted">Tracks: 0</small></p>
                {% else %}
                    <p class="card-text"><small class="text-muted">Tracks: {{info[genre.id][0]}}<br>Last uploaded: {{info[genre.id][2][0].ctime()}}</small></p>
                {% endif %}
            {% endif %}
            <a href="/genre/{{ genre.id }}" class="stretched-link"></a>
        </div>
    </div>
</div>
{% endfor %}
    </div>
</div>
<h2>Playlists</h2>
<h3>Different tracks for different moods.</h3>
<ul>
    {% for playlist in playlists %}
        <li><a href="playlist/{{ playlist.id }}">{{ playlist.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}