{% include "loginbox.html" %}
<h1>Profile: {{ tracks[0].username }}</h1>
<h2>Uploaded tracks</h2>
{% if not tracks %}
    <p>Nothing here!</p>
{% else %}
    <ul>
    {% for track in tracks%}
        {% if track.visible %}
            {% if track.private %}
                {% if session.userid == tracks[0].userid or session.admin %}
                    <li><a href="/track/{{ track.trackid }}">{{ track.name }}</a>(PRIVATE)</li>
                {% endif %}
            {% else %}
                <li><a href="/track/{{ track.trackid }}">{{ track.name }}</a></li>
            {% endif %}
            {% if session.userid == track.userid or session.admin %}
            <p>
                <a href="/edittrack/{{ track.trackid }}">Edit track info</a>
            <p>
                <form action="/deletetrack" method="POST">
                    <input type="hidden" name="trackid" value="{{ track.trackid }}">
                    <input type="hidden" name="userid" value="{{ track.userid }}">
                    <input type="submit" value="Delete track">
                </form>
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}