{% extends "layout.html" %}
{% block content %}
<h1>Profile: {{ username }}</h1>
<h2>Uploaded tracks</h2>
{% if not tracks %}
    <p>Nothing here!</p>
{% else %}
    <ul>
    {% for track in tracks%}
        {% if track.private %}
            {% if session.userid == tracks[0].userid or session.admin %}
                <li><a href="/track/{{ track.trackid }}">{{ track.name }}</a> &#128274  </li>
            {% endif %}
        {% else %}
            <li><a href="/track/{{ track.trackid }}">{{ track.name }}</a></li>
        {% endif %}
        {% if session.userid == track.userid or session.admin %}
        <p>
            <form action="/edittrack/{{ track.trackid }}">
                <input type="submit" value="Edit track info">
            </form>
            <form action="/uploadversion/{{ track.trackid }}">
                <input type="submit" value="Upload new version">
            </form>
            <form action="/deletetrack" method="POST">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="trackid" value="{{ track.trackid }}">
                <input type="hidden" name="userid" value="{{ track.userid }}">
                <input type="submit" value="Delete track">
            </form>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}