<form action="/registeruser" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password">
    </div>
    <p> Admin:
    <select id="admin" name="admin">
        <option value="false">No</option>
        <option value="true">Yes</option>
    </select>
    <p>
    <input type="submit" value="Sign up">
</form>