<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}" />
    <script>
        // Allow only one audio file to play at a time
        const playTrack = (i) => {
            const audios = document.querySelectorAll('audio');
            const currentAudio = audios[i];

            audios.forEach((audio) => {
                if (audio !== currentAudio) {
                    audio.pause();
                }
            });

            currentAudio.play();
        }

        const showShare = () => {
            var link = "{{sharelink}}";
            alert(link);
        }
    </script>
</head>
<body>
{% include "loginbox.html" %}

<h2>{{ track.name }}</h2>
<!-- The different versions of the track will hopefully have their own tabs here. -->
{% if versions %}
    <!-- tab test starts here -->
    <p>
        <div class="versiontabs">  
            <input type="radio" class="tabs_radio" name="tabs_version" id="versiontab0" checked>
            <label for="versiontab0" class="tabs_label">Version 0</label>
            <div class="tabs_content">
                <audio controls src="/play/{{ track.id }}/0" onplay="playTrack(0)"></audio>
            </div>
            {% for version in versions %}
                <input type="radio" class="tabs_radio" name="tabs_version" id="versiontab{{version.version_number}}">
                <label for="versiontab{{version.version_number}}" class="tabs_label">Version {{version.version_number}}</label>
                <div class="tabs_content">
                    <audio controls src="/play/{{ track.id }}/{{version.version_number}}" onplay="playTrack({{version.version_number}})"></audio>
                    <div class="changelogs">
                        <h3>Changelog</h3>
                        <p>{{version.changelog}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
{% else %}
    <p>
        <audio controls src="/play/{{ track.id }}/0"></audio>
{% endif %}
{% if track.user_id == session.userid %}
    <p>
        <!-- Not the best way, but it works for now. -->
        <button onclick=showShare()>Share</button>
    </p>
{% endif %}
{% if track.private %}
    <p>&#128274 <i>This track is private.</i></p>
{% endif %}

<h3>Description</h3>
<p>{{ track.description }}</p>

<h3>Comments</h3>
<!-- If there are comments for the track, they are listed here. -->
<!-- TODO: Make the comments look better. Maybe have them in boxes?-->
{% if comments %}
<ul>
{% for comment in comments %}
    <li>{{ comment.content }} -<i>{{ comment.username }}</i> ({{ comment.date.ctime() }})
    {% if comment.user_id == session.userid %}
        <form action="/editcomment/{{ comment.id }}" method="GET">
            <input type="submit" value="Edit">
        </form>
        <form action="/removecomment/{{ comment.id }}" method="DELETE">
            <input type="submit" value="Delete">
        </form>
    {% elif session.admin == True %}
        <form action="/removecomment/{{ comment.id }}" method="DELETE">
            <input type="submit" value="Delete">
        </form>
    {% endif %}
{% endfor %}
</ul>
{% else %}
<p>No comments yet. Leave one below!</p>
{% endif %}
{% if session.username %}
<form action="/comment/{{ track.id }}" method="POST">
    <textarea id="newcomment" name="newcomment" rows="5" cols="40"></textarea><br>
    <input type="submit" value="Send">
</form>
{% else %}
<i>Log in to leave a comment.</i>
{% endif %}
</body>