{% extends "layout.html" %}
{% block head %}
    <script>
        // Scripts for the audio player
        const playTrack = (i) => {
            const audios = document.querySelectorAll('audio');
            const currentAudio = audios[i];
            const playIcon = document.getElementById('play-icon');
            const pauseIcon = document.getElementById('pause-icon');

            // Allow only one audio file to play at a time
            audios.forEach((audio) => {
                if (audio !== currentAudio) {
                    audio.pause();
                }
            });

            if (currentAudio.paused) {
                currentAudio.play();
                playIcon.style.display = 'none';
                pauseIcon.style.display = 'inline';
            } else {
                currentAudio.pause();
                playIcon.style.display = 'inline';
                pauseIcon.style.display = 'none';
            }
        }

        const showShare = () => {
            var link = "{{sharelink}}";
            alert(link);
        }
    </script>
{% endblock %}
{% block content %}
<div class="container">
<h2>{{ track.name }}</h2>
<!-- The different versions of the track will hopefully have their own tabs here. -->
<div class="container" style="border: 3px solid #E5BEEC">
{% if versions %}
    <!-- tab test starts here -->
    <p>
        <div class="versiontabs">  
            <input type="radio" class="tabs_radio" name="tabs_version" id="versiontab0" checked>
            <label for="versiontab0" class="tabs_label">Version 0</label>
            <div class="tabs_content">
                <div class="audio-player">
                    <audio controls> 
                        <source src="/play/{{ track.id }}/0" type="audio/mpeg">
                        Your browser does not support the audio tag.
                    </audio>
                    <!--
                    <div class="audio-controls">
                        <button onclick="playTrack(0)">
                            <i id="play-icon" class="bi-play" style="font-size: 2rem;"></i>
                            <i id="pause-icon" class="bi-pause" style="font-size: 2rem; display: none;"></i>
                        </button>
                    </div>
                    -->
                </div>
            </div>
            {% for version in versions %}
                <input type="radio" class="tabs_radio" name="tabs_version" id="versiontab{{version.version_number}}">
                <label for="versiontab{{version.version_number}}" class="tabs_label">Version {{version.version_number}}</label>
                <div class="tabs_content">
                    <audio controls src="/play/{{ track.id }}/{{version.version_number}}" type="audio/mpeg" onplay="playTrack({{version.version_number}})"></audio>
                    <div class="changelogs">
                        <h5>Changelog</h5>
                        {% if version.changelog %}
                            <p>{{version.changelog}}</p>
                        {% else %}
                            <p>-</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
{% else %}
    <p>
        <div class="audio-player">
            <audio controls> 
                <source src="/play/{{ track.id }}/0" type="audio/mpeg">
                Your browser does not support the audio tag.
            </audio>
            <!--
            <div class="audio-controls">
                <button onclick="playTrack(0)">
                    <i id="play-icon" class="bi-play" style="font-size: 2rem;"></i>
                    <i id="pause-icon" class="bi-pause" style="font-size: 2rem; display: none;"></i>
                </button>
            </div>
            -->
        </div>
{% endif %}
</div>
{% if track.user_id == session.userid %}
    <p>
        <!-- Not the best way, but it works for now. -->
        <button class="button" onclick=showShare() style="margin-top: 1em;">Share</button>
    </p>
{% endif %}
{% if track.private %}
    <p>&#128274 <i>This track is private.</i></p>
{% endif %}
{% if keywords %}
    <p class="keywords">
    {% for k in keywords %}
        <p class="keyword"><a href="/searchresult?query={{ k[0] }}">#{{ k[0] }}</a></p>
    {% endfor %}
    </p>
{% endif %}
<h3>Description</h3>
{% if track.description %}
    <p>{{ track.description }}</p>
{% else %}
    <p>-</p>
{% endif %}

<h3>Comments</h3>
<!-- If there are comments for the track, they are listed here. -->
<!-- TODO: Make the comments look better. Maybe have them in boxes?-->
{% if comments %}
{% for comment in comments %}
    <div class="comment">
        <div class="comment-user">
            {{ comment.username }}
        </div>
        <div class="comment-date">
            ({{ comment.date.ctime() }})
        </div>
        <br>
        <div class="comment-content">
            {{ comment.content }}
        </div>
    {% if comment.user_id == session.userid %}
        <div class="comment-button-container">
            <form action="/editcomment/{{ comment.id }}" method="GET">
                <input class="comment-button" type="submit" value="Edit">
            </form>
            <form action="/removecomment/{{ comment.id }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input class="comment-button" type="submit" value="Delete">
            </form>
        </div>
    {% elif session.admin == True %}
        <div class="comment-button-container">
            <form action="/removecomment/{{ comment.id }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input class="comment-button" type="submit" value="Delete">
            </form>
        </div>
    {% endif %}
    </div>
    <br>
{% endfor %}
{% else %}
<p>No comments yet. Leave one below!</p>
{% endif %}
{% if session.username %}
{% if comment_error %}
    <p class="error">{{ comment_error }}</p>
    <!-- This JS removes the error on refresh. -->
    <script>
        window.history.replaceState({}, document.title, "/track/{{ track.id }}");
    </script>
{% endif %}
<form action="/comment/{{ track.id }}" method="POST">
    <textarea id="newcomment" name="newcomment" rows="8" cols="80"></textarea><br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input class="button" id="send-comment-button" type="submit" value="Send comment">
</form>
{% else %}
<i>Log in to leave a comment.</i>
{% endif %}
</div>
{% endblock %}