{% extends "layout.html" %}
{% block content %}
<h1>Upload track</h1>
{% if error %}
    <p class="error">Error: {{ error }}</p>
    <!-- This JS removes the error on refresh. -->
    <script>
        window.history.replaceState({}, document.title, "/upload");
    </script>
{% endif %}
<form action="/upload" method="POST" enctype="multipart/form-data">
    File (.mp3, max file size 10 MB)* <br>
        <input type="file" name="file" style="padding: 10px 0px;">
    <p> Name* <br>
        <input type="text" id="trackname" name="trackname">
    <p> Genre <br>
        <select id="genre" name="genre">
            {% for genre in genres %}
                <option value="{{ genre.id }}">{{ genre.name }}</option>
            {% endfor %}
        </select>
    <p> Description<br>
        <textarea id="description" name="description" rows="5" cols="40"></textarea>
    <p> Keywords (separate with a space)<br>
        <textarea id="keywords" name="keywords" rows="3" cols="40" placeholder="e.g. trash nottrash"></textarea>
    <p> Set as private?
        <select id="private" name="private">
            <option value="false">No</option>
            <option value="true">Yes</option>
        </select>
    <p class="required_fields">Fields marked with an * are required.</p>
    <p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input class="btn btn-secondary" type="submit" value="Send">
</form>
{% endblock %}